{
    "default_plans_data": [
        ["Break Fix", "1-Year", 0.0, 0.0, 0.0, 0.0, 25.0, 25.0, 90.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["Break Fix", "2-Year", 0.0, 0.0, 0.0, 0.0, 25.0, 25.0, 90.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["Break Fix", "3-Year", 0.0, 0.0, 0.0, 0.0, 25.0, 25.0, 90.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["Break Fix", "Month to Month", 0.0, 0.0, 0.0, 0.0, 25.0, 25.0, 100.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Advanced", "1-Year", 0.0, 125.0, 25.0, 100.0, 25.0, 25.0, 90.0, 25.0, 0.0, 1.0, 15.0, "Billed Hourly", "SentinelOne", "RocketCyber", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Advanced", "2-Year", 0.0, 125.0, 25.0, 100.0, 25.0, 25.0, 90.0, 25.0, 0.0, 1.0, 15.0, "Billed Hourly", "SentinelOne", "RocketCyber", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Advanced", "3-Year", 0.0, 125.0, 25.0, 100.0, 25.0, 25.0, 90.0, 25.0, 0.0, 1.0, 15.0, "Billed Hourly", "SentinelOne", "RocketCyber", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Advanced", "Month to Month", 0.0, 125.0, 25.0, 100.0, 25.0, 25.0, 100.0, 25.0, 0.0, 1.0, 15.0, "Billed Hourly", "SentinelOne", "RocketCyber", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Basic", "1-Year", 0.0, 125.0, 10.0, 100.0, 25.0, 25.0, 90.0, 25.0, 0.0, 1.0, 15.0, "Billed Hourly", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Basic", "2-Year", 0.0, 125.0, 10.0, 100.0, 25.0, 25.0, 90.0, 25.0, 0.0, 1.0, 15.0, "Billed Hourly", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Basic", "3-Year", 0.0, 125.0, 10.0, 100.0, 25.0, 25.0, 90.0, 25.0, 0.0, 1.0, 15.0, "Billed Hourly", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Basic", "Month to Month", 0.0, 125.0, 10.0, 100.0, 25.0, 25.0, 100.0, 25.0, 0.0, 1.0, 15.0, "Billed Hourly", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Legacy", "1-Year", 0.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Legacy", "2-Year", 0.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Legacy", "3-Year", 0.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Legacy", "Month to Month", 0.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Platinum", "1-Year", 120.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "SentinelOne", "RocketCyber", "Keeper", "BSN", "Not Included", "Not Included"],
        ["MSP Platinum", "2-Year", 115.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "SentinelOne", "RocketCyber", "Keeper", "BSN", "Not Included", "Not Included"],
        ["MSP Platinum", "3-Year", 110.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "SentinelOne", "RocketCyber", "Keeper", "BSN", "Not Included", "Not Included"],
        ["MSP Platinum", "Month to Month", 125.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "SentinelOne", "RocketCyber", "Keeper", "BSN", "Not Included", "Not Included"],
        ["MSP Premium", "1-Year", 95.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Premium", "2-Year", 90.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Premium", "3-Year", 85.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Premium", "Month to Month", 100.0, 125.0, 0.0, 100.0, 25.0, 25.0, 0.0, 25.0, 0.0, 1.0, 15.0, "Unlimited", "Datto EDR", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["Pro Services", "1-Year", 0.0, 0.0, 0.0, 0.0, 25.0, 25.0, 120.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["Pro Services", "2-Year", 0.0, 0.0, 0.0, 0.0, 25.0, 25.0, 120.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["Pro Services", "3-Year", 0.0, 0.0, 0.0, 0.0, 25.0, 25.0, 120.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["Pro Services", "Month to Month", 0.0, 0.0, 0.0, 25.0, 25.0, 0.0, 120.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Network", "1-Year", 0.0, 0.0, 0.0, 0.0, 25.0, 25.0, 120.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Network", "2-Year", 0.0, 0.0, 0.0, 0.0, 25.0, 25.0, 120.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Network", "3-Year", 0.0, 0.0, 0.0, 0.0, 25.0, 25.0, 120.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"],
        ["MSP Network", "Month to Month", 0.0, 0.0, 0.0, 0.0, 25.0, 25.0, 120.0, 25.0, 50.0, 1.0, 15.0, "Billed Hourly", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included", "Not Included"]
    ],
    "default_features": [
        ["Antivirus", "Not Included"], ["Antivirus", "Datto EDR"], ["Antivirus", "SentinelOne"],
        ["SOC", "Not Included"], ["SOC", "RocketCyber"],
        ["Email", "No Business Email"], ["Email", "Google Workspace"], ["Email", "Microsoft 365"], ["Email", "Other Business Email"],
        ["Email Security", "Not Included"], ["Email Security", "ProofPoint"],
        ["Phone", "No Business Phone"], ["Phone", "Zoom"], ["Phone", "DFN"], ["Phone", "Spectrum"], ["Phone", "RingCentral"], ["Phone", "Personal Cell"],
        ["SAT", "Not Included"], ["SAT", "BSN"],
        ["Password Manager", "Not Included"], ["Password Manager", "Keeper"],
        ["Network Management", "Not Included"], ["Network Management", "Auvik"]
    ],
    "default_users": [
        ["Admin", "Admin", "admin"],
        ["User 1", "Admin", "password"],
        ["User 2", "Contributor", "password"],
        ["User 3", "Contributor", "password"],
        ["User 4", "Admin", "password"],
        ["User 5", "Editor", "password"],
        ["User 6", "Contributor", "password"],
        ["User 7", "Admin", "password"]
    ]
}
